.container {
	min-height: '100vh';
	max-width: 1440px;
	margin: 0px auto;
}

.logo {
	text-align: center;

	img {
		padding: 16px 36px !important;
	}
}

.sider {
	background: linear-gradient(270deg, #fff, #fafafa);
	border-right: 1px solid #efefef;

	&:global(.ant-layout-sider-collapsed) {
		img {
			padding: 16px 12px !important;
		}
	}
}

.siderWrapper {
	background: #00000085;
	height: 100vh;
	width: 100vw;
	position: absolute;
	z-index: 9;
	transition: all ease-in-out 0.2s;
}

.header {
	background-color: @layout-body-background !important;
	z-index: 1;
	width: 100%;
	height: 80px !important;
	padding: 0 20px;
}

.content {
	padding: 40px 50px;
	margin: 14px 30px 40px;
	background: white;
	box-shadow: rgb(0 0 0 / 10%) -4px 9px 25px -6px;
	border-radius: 8px;
}

.pageHeader {
	padding: 16px 50px;
}

@import './styles/xs.less'; // screen < 576px
@import './styles/sm.less'; // screen ≥ 576px
@import './styles/md.less'; // screen ≥ 768px
@import './styles/lg.less'; // screen ≥ 992px
@import './styles/xl.less'; // screen ≥ 1200px
@import './styles/xxl.less'; // screen ≥ 1600px
