.logo {
    height: 32px;
    margin: 16px;
    text-align: center;
}

.sider {
    background: #F2F6FC;
    box-shadow: -1px 0px 29px rgba(180, 204, 222, 0.13);
}

.header {
    background-color: @layout-body-background !important;
    z-index: 1;
    width: 100%;
}

.content {
    padding: 16px 50px;
}

.pageHeader {
    padding: 16px 50px;
}