@import '../assets/fonts/als-story/stylesheet.css';
@import '~antd/dist/antd.less';
@import '~flag-icon-css/css/flag-icon.css';
@import '~braft-editor/dist/index.css';

@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';

@import './resize/md.less';

body {
	background: @layout-body-background;
	// background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, @layout-body-background 50%, @layout-body-background 100%);
}

/** Col **/
.ant-col {
	min-height: initial;
}

/** Input **/
.ant-input:focus,
.ant-input-focused,
.ant-picker-focused,
.ant-input-affix-wrapper-focused,
.ant-select-focused > .ant-select-selector {
	box-shadow: 0 0 0 @input-shadow-size rgba(@primary-color, 10%) !important;
}

/** Picker cell **/
.ant-picker-cell .ant-picker-cell-inner {
	min-width: 28px;
	height: 28px;
	line-height: 28px;
}

/** Form **/
.ant-form-item-explain {
	margin-bottom: 8px;
	font-size: @font-size-base;
}

.ant-form-item-control-input {
	align-items: stretch;

	.ant-form-item-control-input-content {
		display: flex;

		input {
			height: 100%;
		}
	}
}

/** Select **/
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
	color: @gray-13;
	font-weight: 600;
	background-color: @gray-4;
}

.ant-select-item {
	margin: 2px 4px;
	border-radius: 8px;
}

.ant-select-borderless {
	&.ant-select-focused {
		.ant-select-selector {
			box-shadow: none !important;
		}
	}
}

.ant-select-selection-item,
.ant-select-item-option-content {
	display: flex;
	align-items: center;
}

/** Button **/
.ant-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&a {
		padding-top: @padding-sm !important;
	}

	&:not(.ant-btn-text, .ant-btn-circle, .ant-btn-sm) {
		padding-left: 24px;
		padding-right: 24px;
		border-radius: calc(@border-radius-base * 2);
	}

	> span {
		font-weight: 700;
	}

	&-lg {
		padding-left: 60px !important;
		padding-right: 60px !important;
	}

	&-sm {
		> span {
			font-size: 15px;
		}
	}

	&-link {
		> span {
			color: @link-hover-color;
			transition: text-decoration 0.2s;
		}

		&:hover > span {
			color: @link-hover-color;
			text-decoration: underline;
		}

		&:focus > span {
			color: @link-hover-color;
			text-decoration: underline;
		}
	}
}

/** Message **/
.ant-message-notice-content {
	padding: 16px 32px;
	border-radius: calc(@border-radius-base * 2);
}

/** Layout **/
.ant-layout-sider-zero-width-trigger {
	top: 14px;
	right: -38px;
	z-index: 2;
	background: #484848;
	border-radius: 0 1rem 1rem 0;

	display: flex;
	align-items: center;
	justify-content: center;

	&:hover:after {
		background: transparent;
	}
}

.ant-layout-sider-collapsed .ant-layout-sider-zero-width-trigger {
	// right: -40px;
}

/** Modal **/
.ant-modal-title {
	font-size: 24px;
	line-height: 24px;
}

.ant-modal-confirm .ant-modal-confirm-btns {
	text-align: center;
	float: unset;
}

/** Popover **/
.ant-popover-message > .anticon {
	top: 8px;
}

/** List **/
.ant-list-item-meta-title {
	font-size: 16px;
}

/** Button group **/
.ant-btn-group {
	.ant-btn {
		border-radius: unset;
	}
}

/** Dropdown **/
.ant-dropdown-menu-item {
	border-radius: 8px;
	margin: 2px 4px;
}

@media screen and (max-width: 600px) {
	body {
		background: @layout-body-background;
	}
}

// TABLE
.ant-table-tbody > tr.ant-table-row:hover > td:first-child,
.ant-table-tbody > tr > td.ant-table-cell-row-hover:first-child {
	border-radius: @border-radius-1 0 0 @border-radius-1;
}

.ant-table-tbody > tr.ant-table-row:hover > td:last-child,
.ant-table-tbody > tr > td.ant-table-cell-row-hover:last-child {
	border-radius: 0 @border-radius-1 @border-radius-1 0;
}

.ant-table.ant-table-middle .ant-table-tbody > tr > td {
	padding: 8px 16px;
}

.ant-page-header-heading-left,
.ant-page-header-heading-extra {
	display: flex;
	align-items: center;
	justify-content: center;
}
