// @import '@styles/variables.less';
// @import '~antd/lib/style/themes/default.less';

.form {
	flex: 1;
	:global {
		.ant-form-item-label {
			& > label {
				width: 100%;
			}
			.ant-btn {
				padding: 0;
				height: inherit;
			}
		}
	}
}

.submitBtn {
	width: 100%;
}

.title {
	color: #222222;
	text-align: center;
	margin: 0 60px;
	font-size: 28px;
	line-height: 37px;
}

.subtitle {
	color: @gray-8;
	margin: 24px 60px;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
}

.imageContainer {
	padding: 50px 70px !important;
}

.modal {
  .noCreditCardInfo {
		font-size: 12px;
		color: #a1a1a1;
    margin-top: 6px;
	}
  
	:global {
		.ant-modal-body {
			padding: 24px;
		}
		.ant-modal-footer {
			padding: 0 24px 24px;
			text-align: center;
			border: 0;
		}
	}
}

.oauthButton {
	display: flex !important;
	justify-content: center;
	align-items: center;

	svg {
		font-size: 24px;
		margin-right: 8px;
	}
}
