.form {
	flex: 1;
	margin-top: 30px !important;

	:global {
		.ant-form-item-label {
			& > label {
				width: 100%;
			}
			.ant-btn {
				padding: 0;
				height: inherit;
			}
		}
	}
}

.submitBtn {
	width: 100%;
}

.title {
	color: #222222;
	text-align: center;
	margin: 0 60px;
	font-size: 28px;
	line-height: 37px;
}

.subtitle {
	color: #959cb4;
	margin: 24px 60px;
	text-align: center;
	font-size: 15px;
	line-height: 22px;
}

.imageContainer {
	padding: 50px 70px !important;
}

.modal {
	:global {
		.ant-modal-body {
			padding: 24px;
			display: flex;
			flex-direction: column;
		}
		.ant-modal-footer {
			padding: 24px;
      padding-top: 0px;
			text-align: center;
			border: 0;
		}
	}
}

.oauthButton {
	display: flex !important;
	justify-content: center;
	align-items: center;

	svg {
		font-size: 24px;
		margin-right: 8px;
	}
}
