.layout {
	min-height: 100% !important;
	margin: 0px auto;
	max-width: 1440px;
}

.content {
	margin: 48px;
}

.publicLayout {
	padding: 40px 80px;

	&_header {
		background-color: transparent !important;
		height: 85px !important;
		display: flex;
		// justify-content: space-between;
		// align-items: center;
	}
}

.logo {
	float: left;
	width: 145px;
	height: 40px;
	// margin: 16px 24px 16px 0;
	// background: rgba(0, 0, 0, 0.2);
}

.logoContainer {
	flex: 1;
}

.subMenuTitle {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

@import './styles/xs.less'; // screen < 576px
@import './styles/sm.less'; // screen ≥ 576px
@import './styles/md.less'; // screen ≥ 768px
@import './styles/lg.less'; // screen ≥ 992px
@import './styles/xl.less'; // screen ≥ 1200px
@import './styles/xxl.less'; // screen ≥ 1600px
