.layout {
    position: absolute;
    min-height: 100% !important;
    width: 100%;
}

.publicLayout {
    &_header {
        background-color: @layout-body-background !important;

        &_menu {
            background-color: transparent !important;
            border-bottom: 0 !important;

            :global {
                .ant-menu-item {
                    .ant-menu-title-content {
                        padding: 8px 16px;
                        border-radius: @border-radius-base;
                        transition: background 0.3s;
                        height: @height-base;
                    }
                }
            }
        }
    }
}

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(0, 0, 0, 0.2);
}