.pageHeader {
	padding: 16px 0;
}

.item {
  cursor: pointer;
  border-radius: @border-radius-base;
  border: unset !important;
  padding: 16px;
  margin-bottom: 8px;

	&:hover {
		background: @gray-2;
	}
}

.skillTable {
  :global {
    .ant-table-thead > tr > th {
      background-color: unset;
      // border: 0;

      &::before {
        display: none;
      }
    }
    .ant-table-tbody > tr > td {
      border: unset;
    }
  }
}

.skillTableRow {
  cursor: pointer;
}